
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

#info{
    margin-top: 40px;
}

.button {
    background-color: rgb(4, 29, 34);
    color: rgb(241, 238, 238);
    border-radius: 10px;
    padding: 20px ;
    border: none;
    box-shadow: 6px 6px 2px 2px rgb(156, 151, 151);
    width: 200px;
    height: 200px;
    margin-top: 40px;

}

#roc{
    background-image: url("images/rock.jpeg");
    background-size: cover;
}

#sci{
    background-image: url("images/scissors.jpeg");
    background-size: cover;
}

#pap{
    background-image: url("images/paper.jpeg");
    background-size: cover;
}

.button:hover{
    background-color: rgb(167, 192, 172);
    color: black;
    transition: 0.7s;
}

.button:focus{
    transition: 0.7s;
    box-shadow: 6px 6px 2px 2px rgb(34, 134, 48);
}

.button:active{
    background-color: rgb(82, 143, 94);
    transition: 0.7s;
}

.btns{
    display: flex;
    gap: 40px;
}